* {
    max-width: 100vw;
}

body {
    background-color: black;
    margin: 0;
    min-height: 100vh;
    overflow-y: scroll;
}

::selection {
    text-shadow: none;
    background-color: green;
    transition: polygon .2s ease-in-out
}

.title::selection {
    text-shadow: 0 0 10px black;
}

.title {
    width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: min(70px, 20vw);
    font-family: Impact;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 10px red;
}

.subtitle {
    font-size: min(30px, 7vw);
    font-family: sans-serif;
    color: whitesmoke;
    margin-bottom: 50px;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.tickets {
    display: inline-block;
    font-size: min(300%, 10vw);
    /* border-radius: 150px; */
    background-color: blanchedalmond;
    border: none;
    cursor: pointer;
    width: min(200px, 50%);
    transition: box-shadow .2s ease, width .4s ease-in-out, right .4s ease-in-out, transform .4s cubic-bezier(1, 0, 0, 1);
    right: 5px;
    font-family: comfortaa;
    margin: 0 auto;
    transform: rotateX(70deg);
    margin-bottom: 15%;
    border-radius: 10px;
}

.tickets:hover {
    box-shadow: 0 0 10px aqua;
    width: 225px;
    transform: rotateX(0)
}

.top {
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0 min(6px, 1vw + 1px) min(5px, 1vw) white;
    position: sticky;
    background-color: black;
    clip-path: polygon(0 0, 0 200%, 100% 200%, 100% 0);
    z-index: 50;
    padding-top: 5px;
}

.toptop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: min(50px, 10vw);
}

.tab {
    font-family: arial rounded mt, biome;
    font-size: min(4vh, 4vw);
    color: white;
    height: 100%;
    cursor: pointer;
}

.line-container {
    width: 100%;
}

.line {
    position: relative;
    left: 5px;
    width: min(80px, 20vw);
    height: min(5px, 1.25vw);
    margin-bottom: 5px;
    background-color: white;
    transition: left 0.5s cubic-bezier(1, 0, 0, 1);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.page {
    perspective: 400px;
    width: 100%;
    transform: translate3d(0, -100px, -100px);
    visibility: hidden;
    opacity: 0;
    transition: transform cubic-bezier(1, 0, 0, 1), visibility, opacity ease-in-out;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    text-align: center;
    position: fixed;
}

.pageShown {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    position: relative;
}

.fadebottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(transparent, black);
    pointer-events: none;
}

.textbox {
    background: #222;
    border: none;
    color: white;
    border-radius: 50px;
    padding: 5px;
    padding-left: 10px;
    outline: transparent solid 0;
    transition: outline .2s ease-in-out;
    margin-bottom: 20px;
}

.textbox:focus {
    outline: green solid 2px;
}

.number::-webkit-inner-spin-button,
.number::-webkit-outer-spin-button {
    background: darkgrey
}

.image-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

.image {
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    transform: translateX(0);
    transition: opacity .5s, transform .5s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.image-left {
    transform: translateX(-100%);
    opacity: 0;
}

.image-right {
    transform: translateX(100%);
    opacity: 0;
}
